/* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
body {
  font-family: "Open Sans";
  color: #474747;
  overflow-x: hidden;
}

/* Dropdown Button */
/* line 7, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
.dropdown {
  display: inline-block;
  position: relative;
}

/* line 10, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
.dropdown .content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160px;
  position: absolute;
}

@media only screen and (max-width: 960px) {
  /* line 10, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
  .dropdown .content {
    position: relative;
  }
}

/* line 19, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
.dropdown .content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

/* line 24, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
.dropdown .content a:hover {
  background-color: #ddd;
}

/* line 31, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
.dropdown:hover .content {
  display: block;
}

/* line 34, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* line 37, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_base.scss */
.content {
  padding-top: 80px;
  padding-left: 3.125%;
  padding-right: 3.125%;
}

/* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_alert.scss */
.alert {
  padding: 10px;
  color: #fff;
  background: #EC565C;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  z-index: 10000;
  font-size: 15px;
  text-align: center;
}

/* line 14, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_alert.scss */
.nav-alert {
  top: 2.6em !important;
}

/* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.landing-feature {
  background-color: #fec200;
  padding-top: 80px;
  align-items: center;
}

@media screen and (min-width: 600px) {
  /* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
  .landing-feature {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

/* line 9, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.landing-feature .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 20em;
}

@media only screen and (max-width: 1096px) {
  /* line 16, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
  .landing-feature .logo {
    display: none;
  }
}

/* line 20, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.landing-feature article {
  background-color: transparent;
  border: none;
  height: 100%;
}

/* line 24, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.landing-feature article header {
  border: none;
  font-size: 42px;
  text-align: center;
}

/* line 29, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.landing-feature article p {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  /* line 29, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
  .landing-feature article p {
    text-align: center;
  }
}

/* line 35, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.landing-feature article button {
  font-size: 19px;
  min-height: 3em;
}

/* line 54, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.lander100 {
  height: 100vh;
}

/* line 43, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.lander100 .background {
  height: 100vh;
}

/* line 45, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.lander100 .background .media {
  min-height: 100vh;
}

/* line 49, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.lander100 .overlay {
  height: 100vh;
}

/* line 57, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.media-background {
  display: flex;
  align-items: center;
}

/* line 60, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.media-background .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/* line 66, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.media-background .background .media {
  min-width: 100%;
}

/* line 71, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.media-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: #fec200;
  opacity: 0.65;
}

/* line 81, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_landing-feature.scss */
.media-background .content {
  z-index: 2;
}

/* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_statpanels.scss */
.statpanels {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  padding-bottom: 2%;
}

/* line 6, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_statpanels.scss */
.statpanels article {
  height: 100%;
  border: none;
}

/* line 9, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_statpanels.scss */
.statpanels article header {
  border: none;
  font-size: 32px;
  text-align: center;
}

/* line 13, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_statpanels.scss */
.statpanels article header .icon {
  color: #b84545;
  font-size: 3em;
}

/* line 18, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_statpanels.scss */
.statpanels article p {
  font-size: 14px;
  text-align: center;
}

/* line 22, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_statpanels.scss */
.statpanels article span {
  margin-left: auto;
  margin-right: auto;
  max-width: 10em;
}

/* line 28, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_statpanels.scss */
.statpanels .grey {
  background-color: #f4f4f4;
}

/* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_homepanels.scss */
.home-panels {
  padding-left: 2%;
  padding-right: 2%;
}

/* line 4, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_homepanels.scss */
.home-panels article {
  border: none;
  height: 100%;
}

/* line 7, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_homepanels.scss */
.home-panels article header {
  border: none;
  font-size: 32px;
  text-align: center;
}

/* line 11, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_homepanels.scss */
.home-panels article header .image {
  height: 4em;
}

/* line 14, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_homepanels.scss */
.home-panels article header .icon {
  color: #b84545;
  font-size: 4em;
}

/* line 19, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_homepanels.scss */
.home-panels article p {
  font-size: 14px;
}

/* line 23, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_homepanels.scss */
.home-panels div {
  padding: 0;
}

/* line 26, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_homepanels.scss */
.home-panels .grey {
  background-color: #f4f4f4;
}

/* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_abouthalf.scss */
.abouthalf {
  justify-items: center;
}

/* line 3, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_abouthalf.scss */
.abouthalf article {
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  border: none;
  max-width: 40em;
}

/* line 9, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_abouthalf.scss */
.abouthalf article header {
  border: none;
  font-size: 32px;
  text-align: center;
}

/* line 13, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_abouthalf.scss */
.abouthalf article header .icon {
  color: #b84545;
  font-size: 3em;
}

/* line 18, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_abouthalf.scss */
.abouthalf article p {
  font-size: 14px;
}

/* line 21, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_abouthalf.scss */
.abouthalf article iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 27, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_abouthalf.scss */
.abouthalf .grey {
  background-color: #f4f4f4;
}

/* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_footer.scss */
.footer {
  background: #171717;
  color: #737373;
  padding-top: 40px;
}

@media only screen and (max-width: 980px) {
  /* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_footer.scss */
  .footer {
    padding-left: 12.5%;
    padding-right: 12.5%;
    text-align: center;
  }
}

@media only screen and (min-width: 980px) {
  /* line 1, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_footer.scss */
  .footer {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* line 14, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_footer.scss */
.footer .fcontent {
  font-size: 14px;
}

/* line 17, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_footer.scss */
.footer .icon {
  font-size: 2em;
  text-align: center;
}

/* line 21, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_footer.scss */
.footer .image {
  height: 2em;
}

/* line 24, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_footer.scss */
.footer .largeicon {
  font-size: 8em;
  text-align: center;
}

/* line 28, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/partials/_footer.scss */
.footer .largeimage {
  height: 8em;
}

/* line 8, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/new-styles.scss */
.onetwothirdimage {
  max-height: 7em;
}

/* line 11, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/new-styles.scss */
.onetwothirdicon {
  font-size: 7em;
}

/* line 14, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/new-styles.scss */
.fullwidth-background {
  padding-right: 0%;
  padding-left: 0%;
}

@media only screen and (max-width: 1000px) {
  /* line 19, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/new-styles.scss */
  .mobile-invis {
    display: none;
  }
  /* line 22, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/new-styles.scss */
  .mobile-vis {
    display: unset;
  }
}

@media only screen and (min-width: 1000px) {
  /* line 27, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/new-styles.scss */
  .mobile-invis {
    display: unset;
  }
  /* line 30, ../../Documents/GitHub/Grav-Proposal-Website/grav-admin/user/themes/duck-picnic/scss/new-styles.scss */
  .mobile-vis {
    display: none;
  }
}

/*# sourceMappingURL=new-styles.css.map */