@import 'partials/base';
@import 'partials/_alert';
@import 'partials/hero';
@import 'partials/statpanels';
@import 'partials/homepanels';
@import 'partials/abouthalf';
@import 'partials/footer';
.onetwothirdimage {
	max-height: 7em;
}
.onetwothirdicon {
	font-size: 7em;
}
.noborderflex {
	display: flex;
    flex-wrap: wrap;
	transition: all .3s ease;
	>* {
		flex: 1 1 auto;
		padding-bottom: 0.6em;  
	}
}
@media only screen and (max-width: 1000px) {
	.mobile-invis {
		display: none;
	}
	.mobile-vis {
		display: unset;
	}
}
@media only screen and (min-width: 1000px) {
	.mobile-invis {
		display: unset;
	}
	.mobile-vis {
		display: none;
	}
}