<div style="" class="flex one two-1400 center content abouthalf">
        <article class="card">
            <header>
                <h>{{ header.firstHalfHeader }}</h>
            </header>
            {{ header.firstHalf }}
        </article>
        <article class="card">
            <header>
                <h>{{ header.secondHalfHeader }}</h>
            </header>
            {{ header.secondHalf }}
        </article>
</div>