<div class="plainflex one three-1000 grow home-panels">
    {% for homepanel in header.homepanels %}    
    <div>
        <article class="card {% if loop.index is even %}grey{% endif %}">
            {% with {icon:homepanel.icon} %}
            {% include 'partials/icon.html.twig' %}
            {% endwith %}
            {{ homepanel.text|markdown }}
        </article>
    </div>
    {% endfor %}
</div>