<div class="plainflex one three-1000 grow home-panels">
    {% for homepanel in header.homepanels %}    
    <div>
        <article class="card {% if loop.index is even %}grey{% endif %}">
            {% set vars = {'icon':homepanel.icon, 'color':homepanel.colorpicker, 'link':homepanel.url, 'image':homepanel.imageicon, 
            'imageurl':homepanel.imageurlicon, 'header':homepanel.header} %}
           {% include 'partials/icon.html.twig' with vars %}
            {{ homepanel.text|markdown }}
        </article>
    </div>
    {% endfor %}
</div>