<div class="plainflex one three-1000 grow home-panels">
    {% for homepanel in header.homepanels %}    
    <div>
        <article class="card {% if loop.index is even %}grey{% endif %}">
            {% set vars = {'icon':homepanel.icon.icon, 'color':homepanel.icon.color, 'link':homepanel.icon.link, 'image':homepanel.icon.image, 
            'imageurl':homepanel.icon.imageurl, 'header':homepanel.icon.header} %}
           {% include 'partials/icon.html.twig' with vars %}
            {{ homepanel.text|markdown }}
        </article>
    </div>
    {% endfor %}
</div>