{% set logo = theme_var('custom_logo') %} {% set logo_file = (logo|first).name %}

<div style=";" class="landing-feature">
    <div class="flex one two-1000 grow">
        <div class="logo"><img class="logo" src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt=""></div>
        <div>
            <article class="card">
                <header>
                    <h>{{ site.title }}</h>
                </header>
                {{ header.text|markdown }}
                <form style="padding-left:12.5%; padding-right:12.5%;" class="flex one center" method="get" action="{{ header.link }}">
                    <button class= "error" type="submit">Get Help Now</button>
                </form>
            </article>
        </div>
    </div>
    <br>
</div>
