<div class="flex one two-1000 grow home-panels ">
    {% for onetwothird in header.onetwothirds %}    
    {% if loop.index is odd %}
    <div class="fourth">
        <article class="card">
            <header>
                {% with {icon:onetwothird.icon} %}
                {% include 'partials/icon.html.twig' %}
                {% endwith %}
            </header>
        </article>
    </div>
    <div>
        <article class="card">
            <header>
                <h>{{ onetwothird.header }}</h>
            </header>
            <p>{{ onetwothird.text|markdown }}</p>
        </article>
    </div>
    {% else %}
    <div>
        <article class="card grey">
            <header>
                <h>{{ onetwothird.header }}</h>
            </header>
            <p>{{ onetwothird.text|markdown }}</p>
        </article>
    </div>
    <div class="fourth">
        <article class="card grey">
            <header>
                {% with {icon:onetwothird.icon} %}
                {% include 'partials/icon.html.twig' %}
                {% endwith %}
            </header>
        </article>
    </div>
    {% endif %}
    {% endfor %}
</div>