<div class="plainflex one four-800 eight-1400 center statpanels">
    {% for statpanel in header.statpanels %}
    <div>
        <article class="card">
            <header style="border:none;">
                {% with {icon:statpanel.icon} %}
                {% include 'partials/icon.html.twig' %}
                {% endwith %}
                <span>{{ statpanel.text|markdown }}</span>
                <h style="font-color: {{statpanel.color}};">{{ statpanel.header }}</h>
            </header>
        </article>
    </div>
    {% endfor %}
</div>