{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<footer>
  <div class="plainflex">
    {% for smallicon in grav.theme.config.footer.smallicons %}
      {% with {icon:smallicon} %}
      {% include 'partials/icon.html.twig' %}
      {% endwith %}
    {% endfor %}
  </div>
  <div class="content">
    {{ grav.theme.config.footer.content|markdown }}
  </div>
  <div class="plainflex">
    {% for largeicon in grav.theme.config.footer.largeicons %}
      {% with {icon:largeicon} %}
      {% include 'partials/icon.html.twig' %}
      {% endwith %}
    {% endfor %}
  </div>
</footer>  