body {
	font-family: "Open Sans";
	color: #474747;
	overflow-x: hidden;
}
/* Dropdown Button */
.dropdown {
	display: inline-block;
    position: relative;
    .dropdown-content {
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        display: none;
        min-width: 160px;
        position: absolute;
        @media only screen and (max-width: 960px) {
            position: relative;
        }
        a {
            color: black;
            display: block;
            padding: 12px 16px;
            text-decoration: none;
            &:hover {
                background-color: #ddd;
            }
        }
        
    }
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
.content {
    padding-top: 80px; 
    padding-left: 3.125%; 
    padding-right: 3.125%
}