// some code from and heavily influenced by picnic CSS documentation pages by Francisco Presencia
// https://github.com/franciscop/picnic/blob/master/docs/style/_hero.scss
// https://github.com/franciscop/picnic/blob/master/LICENSE
// 12/31/21

.hero {
	text-align: center;
	@media screen and (min-width: 600px) {
		padding-left: 3.125%;
		padding-right: 3.125%;
	}
	.logocontainer {	
		flex: initial;
		@media only screen and (max-width: 970px) {
			display: none;
		}
		img {
			display: block;
			margin-left: auto;
			margin-right: 5em;
			max-height: 20em;
		}
	}
	.content {
		align-items: center;
		margin: auto;
		padding: {
			left: 3.125%;
			right: 3.125%;
		}
		position: relative;
		top: 45%;
		transform: translateY(-50%);
		.calltoaction {
			max-width: 550px;
		}
  	}
	h1 {
		font-size: 3em;
		line-height: 1;
		padding: 0;
  	}
	p {
		font-size: 18px;
	}
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		.media {
			min-width: 100%;
			min-height: 100%
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
		}
	}
}