.home-panels {
	article {
		border: none;
		height: 100%;
		// a {
		// }
		header {
			border: none;
		// 	// font-size: 32px;
		// 	// text-align: center;
		// 	// .image {
		// 	// 	height: 4em;
		// 	// }
		// 	// .icon {
		// 	// 	color: #b84545;
		// 	// 	// font-size: 4em;
		// 	// 	// transition: all 0.3s ease;
		// 	// }
		// 	// &:hover .fadeout, &:focus-within .fadeout {
		// 	// 	opacity: 0.7;
		// 	// }

		// 	// .link{
		// 	// 	color: #474747;
		// 	// 	box-shadow: 0 2px rgb(0, 0, 0 / 20%);
		// 	// 	transition: all 0.3s ease;
		// 	// }

		// 	// &:hover .link, &:focus-within .link {
		// 	// 	color: #666;
		// 	// 	box-shadow: 0 2px #333;
		// 	// }
		}
		p {	
			justify-self: center;
			padding: {
				left: 3.125%;
				right: 3.125%;
			}
			justify-self: center;
			font-size: 14px;
		}
	}
	div {
		padding: 0;
	}
	.grey {
		background-color: #f4f4f4;
	}
}