.home-panels {
	article {
		border: none;
		height: 100%;
		header {
			border: none;
		}
		p {
			justify-self: center;
			padding: {
				left: 3.125%;
				right: 3.125%;
			}
			justify-self: center;
			font-size: 14px;
		}
	}
	div {
		padding: 0;
	}
	.grey {
		background-color: #f4f4f4;
	}
}
