.landing-feature {
	background-color: #F9D537;
	padding-top: 80px;
	align-items: center;
	@media screen and (min-width: 600px) {
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 20em;
	}
	@media only screen and (max-width: 1096px) {
		.logo {
			display: none;
		}
	}
	article {
		background-color: transparent;
		border: none;
		height: 100%;
		header {
			border: none;
			font-size: 42px;
			text-align: center;
		}
		p {
			font-size: 18px;
			@media screen and (max-width: 600px) {
				text-align: center;
		}
		}
		button {
			font-size: 19px;
			min-height: 3em;
		}
	}
}
@mixin height($height) {
		height: $height;
		.background {
			height: $height;
			.media {
				min-height: $height;
			}
		}
		.overlay {
			height: $height;
		}

	}
.lander100{
	@include height(100vh)
}
.media-background {
	display: flex;
	align-items: center;
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		.media {
			min-width: 100%;
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 1;
		background: #F9D537;
		opacity: 0.65;
	}

	.content {
		z-index: 2;
	}
}
