// some code from and heavily influenced by picnic CSS documentation pages by Francisco Presencia
// https://github.com/franciscop/picnic/blob/master/docs/style/_hero.scss
// https://github.com/franciscop/picnic/blob/master/LICENSE
// 12/31/21

.hero {
	text-align: center;
	@media screen and (min-width: 600px) {
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
	.logo {
		@media only screen and (max-width: 1096px) {
			display: none;
		}
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 20em;
	}
	.content {
		margin: auto;
		position: relative;
		top: 45%;
		transform: translateY(-50%);
		max-width: 550px;
  	}
	.buttons {
		display: flex;
		flex-wrap: wrap;
		transition: all .3s ease;
		.button {
			flex: 1 1 auto;
			padding-bottom: 0.6em;
		}
	}
	h1 {
		font-size: 3em;
		line-height: 1;
		padding: 0;
  	}
	p {
		font-size: 18px;
	}
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		.media {
			min-width: 100%;
			min-height: 100%
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
		}
	}
}