{% extends 'partials/base.html.twig' %}
{% block content %}
test
{% with {hero:header.hero} %}
{% include 'partials/hero.html.twig' %}
{% endwith %}
<main>
    <div class="flex-one">{{ page.content|raw }}</div>
</main>
{% endblock %}