{% extends 'partials/base.html.twig' %}
{% block content %}
{% with {hero:header.hero} %}
{% include 'partials/hero.html.twig' %}
{% endwith %}
<main>
    <div class="flex two">
        <div>
            {% for post in page.collection %}
            <article class="card">
                <a href="">
                    <img src="/img/forest.jpg">
                </a>
                <footer>
                    <p>date goes here</p>
                    <a href="{{post.url}}">
                        <h3>{{post.title}}</h3>
                    </a>
                    <p>{{post.summary|raw}}</p>
                </footer>
            </article>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}