{% extends 'partials/base.html.twig' %}

{% block content %}
<main>
  <div class="lead text-center">
    <div class="flex-one">
      <h1>Error!</h1>
      {{ page.content|raw }}
    </div>
  </div>
</main>
{% endblock %}
