.landing-feature{
    background-color: #004063;
}
.landing-feature article header{
    font-size: 42px;
    text-align: center;
    border: none;
}
.landing-feature article p{
    font-size: 18px;
}
.landing-feature article button{
    font-size: 19px;
    min-height: 3em;
}
.landing-feature article header svg{
    width: 30%;
    height: 30%;
}
.landing-feature article{
    border: none;
    height:100%;
    background-color: #004063;
    color: white;
}

.home-panels article header{
    font-size: 32px;
    text-align: center;
    border: none;
}
.home-panels article p{
    font-size: 14px;
}
.home-panels article header i{
    font-size: 4em;
    color: #B84545;
}
.home-panels article{
    border: none;
    background-color: #F4F4F4;
    height:100%;
}
@media only screen and (max-width: 1096px) {
    .lander-logo {
        visibility: hidden;
    }
}